.topping{
    position: relative;
    width: 699px;
    height: 310px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    position: relative;
    width: 369px;
    height: 162px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    text-align: center;
}